numpy==1.26.4
pandas==2.1.4
streamlit>=1.34.0
python-dotenv==1.0.0
cryptography==41.0.7
matplotlib==3.8.2
openpyxl==3.1.2
# FISCO_Sources @ git+https://${GITHUB_TOKEN}@github.com/FISCO-1505/Finaccess_Resources.git     #para instalar de forma local
git+https://${GITHUB_TOKEN}@github.com/FISCO-1505/Finaccess_Resources.git